<!-- 
    File Name: app.css
    Student Name: Lea Marie Magbalot
    Student ID: 301145757
    Date: October 1, 2021
-->


<%- include partials/header.ejs %> 
<%- include partials/main_nav.ejs %> 

<div class="error-page">
    <div class="error-view"> 
        <h1><%= message %></h1>
        <h2><%= error.status %></h2>
        <pre><%= error.stack %></pre>
    </div>
</div>

<%- include partials/bottom_nav.ejs %> 
<%- include partials/footer.ejs %> 